<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %}{{ page.title }} | {% endif %}Kirt Goh,
			Programmer</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div id="main">
		<header>
			<h1>Kirt Goh Programmer</h1>		
		</header>
		</body>

		<nav role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/about/online_resume_v3.html">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>

		{{ content }}

		<footer>
			<p>&copy; Kirt Goh Programmer 2014 | All Rights Reserved. </p>	
		</footer>

		</div>
	</body>
</html>

